*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.bg {
    background-color: blanchedalmond;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    top: 0;
    left: 0;

}
.logo {
    font-size: 1.5rem;
    margin: auto 1rem;

}
.nav {
    height: 3.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.wrapper {   
    color: white;
    font-size:large;

}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu ul {
    margin: 0;
    padding: 0;
    display: flex;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
     color: #ffffff;
    padding: 1rem;
    display: block;
}
